# The URL running on the Gantry server.
VITE_BASE_API_URL=http://localhost:8000

# The Keycloak server URL, realm, and client ID for authentication.
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=gantry
VITE_KEYCLOAK_CLIENT_ID=gantry-frontend

# The Stripe publishable key for payment processing.
VITE_STRIPE_PUBLISHABLE_KEY=your-stripe-key